# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: golang:1.9.2
    steps:
      - add_ssh_keys:
          fingerprints:
            - "3d:8e:5b:92:27:4d:ec:f2:7e:c8:1c:24:db:9a:87:a0"
      - checkout
      - run:
          name: "run go code"
          command: |
            git clone https://github.com/myoan/circleci-private-repo
            cd circleci-private-repo
            git config --global user.email "motoki.yoan@gmail.com"
            git config --global user.name "myoan"
            CI_BRANCH_NAME=br-`date +"%Y%m%d%I%M%S"`
            git checkout -b $CI_BRANCH_NAME
            echo 'hogehoge' >> go-file
            git commit -am "hogehoge"
            git push origin $CI_BRANCH_NAME
