# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: golang:1.9.2
    steps:
      - checkout
      - run:
          name: "run go code"
          command: |
            git clone git@github.com:myoan/go-github-test.git
            cd go-github-test
            git checkout -b "hogehoge"
            echo 'hogehoge' >> go-file
            git commit -a
            git push origin hogehoge
            go run main.go
